APP_ENV=production
APP_BASE_URL=http://210.47.163.181/DepartmentIFO/member-platform
DB_HOST=127.0.0.1
DB_NAME=departmentifo_platform
DB_USER=deptifo
DB_PASS=change-me
AUTH_MONITOR_API=http://210.47.163.181/DepartmentIFO/auth-monitor/api/v1
AUTH_MONITOR_APP_ID=member-platform
AUTH_MONITOR_APP_SECRET=change-me
AUTH_MONITOR_JS=http://210.47.163.181/DepartmentIFO/auth-monitor/sdk/js/auth-monitor.min.js
